<%= form_for(email) do |f| %>
  <% if email.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(email.errors.count, "error") %> prohibited this email from being saved:</h2>

      <ul>
      <% email.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field">
    <%= f.text_field :to, autocomplete: :off %>
    <%= f.label :to %>
  </div>

  <div class="input-field">
    <%= f.text_field :cc, autocomplete: :off %>
    <%= f.label :cc %>
  </div>

  <div class="input-field">
    <%= f.text_field :bcc, autocomplete: :off %>
    <%= f.label :bcc %>
  </div>

  <div class="input-field">
    <%= f.text_field :subject, autocomplete: :off %>
    <%= f.label :subject %>
  </div>

  <div class="input-field">
    <%= f.text_area :content, class: "materialize-textarea" %>
    <%= f.label :content %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn' %>
  </div>
<% end %>
