<p id="notice"><%= notice %></p>

<h2>Emails</h2>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>To</th>
      <th>Subject</th>
      <th>Created at</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @emails.each do |email| %>
      <tr>
        <th><%= email.id %></th>
        <td><%= pluralize(email.to.to_s.split(',').size, 'email') %></td>
        <td><%= email.subject %></td>
        <td><time><%= email.created_at.strftime("%H:%M, %d %b %Y") %></time></td>
        <td><%= link_to 'Show', email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="fixed-action-btn">
  <a class="btn-floating btn-large" href="<%= new_email_path %>">
    <i class="large material-icons">add</i>
  </a>
</div>
