<p id="notice"><%= notice %></p>

<h2><%= "Email ##{@email.id}" %></h2>

<p>
  <strong>To:</strong>
  <%= pluralize(@email.to.to_s.split(',').size, 'email') %>
</p>

<p>
  <strong>Cc:</strong>
  <%= pluralize(@email.cc.to_s.split(',').size, 'email') %>
</p>

<p>
  <strong>Bcc:</strong>
  <%= pluralize(@email.bcc.to_s.split(',').size, 'email') %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @email.subject %>
</p>

<p>
  <strong>Content:</strong>
  <%= @email.content %>
</p>

<p>
  <strong>Creted at:</strong>
  <time><%= @email.created_at.strftime("%H:%M, %d %b %Y") %></time>
</p>

<%= link_to 'Back', emails_path, class: "btn btn-flat" %>
